{{!-- Related Posts Section --}}
{{!-- Displays related blog posts --}}

<section class="sds-section sds-related-posts" data-section-id="{{sectionId}}">
  <div class="sds-container">
    <div class="sds-related-posts__header">
      <h2 class="sds-related-posts__title">
        {{or config.title "Povezani članci"}}
      </h2>
      {{#if config.subtitle}}
        <p class="sds-related-posts__subtitle">{{config.subtitle}}</p>
      {{/if}}
    </div>

    {{#if relatedPosts.length}}
      <div class="sf-blog-grid">
        {{#each relatedPosts}}
          <article class="sf-blog-card">
            <a href="{{postUrl this.slug}}" class="sf-blog-image">
              {{responsiveImage this.featuredImage alt=this.title class="sf-blog-img" loading="lazy" sizes="(max-width: 768px) 100vw, 33vw"}}
            </a>
            <div class="sf-blog-body">
              {{#if this.tags}}
                <div class="sf-blog-tags">
                  {{#each this.tags}}
                    <span class="sf-blog-tag">{{this.name}}</span>
                  {{/each}}
                </div>
              {{/if}}
              
              {{#if this.publishedAt}}
                <div class="sf-blog-date">
                  {{formatDate this.publishedAt format="DD. MMMM YYYY."}} u {{formatDate this.publishedAt format="HH:mm"}}
                </div>
              {{/if}}
              
              <h3 class="sf-blog-title">
                <a href="{{postUrl this.slug}}">{{this.title}}</a>
              </h3>
              
              {{#if this.excerpt}}
                <p class="sf-blog-excerpt">{{truncate this.excerpt 150}}</p>
              {{/if}}
              
              {{#if this.author}}
                <div class="sf-blog-author">
                  <div class="sf-blog-author-avatar">
                    {{#if this.author.image}}
                      <img src="{{this.author.image}}" alt="{{this.author.name}}">
                    {{else}}
                      {{firstLetter this.author.name}}
                    {{/if}}
                  </div>
                  <span class="sf-blog-author-name">{{this.author.name}}</span>
                </div>
              {{/if}}
            </div>
          </article>
        {{/each}}
      </div>

      <div class="sds-related-posts__more">
        <a href="/blog" class="sds-related-posts__more-link">
          Pogledaj sve članke
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"/><polyline points="12 5 19 12 12 19"/></svg>
        </a>
      </div>
    {{else}}
      <div class="sds-related-posts__empty">
        <p>Nema povezanih članaka</p>
      </div>
    {{/if}}
  </div>
</section>
